{% extends 'accounts/base.htm' %}

{% block pagestyles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/sign_in.css' %}">
{% endblock pagestyles %}

{% block content %}
<div class="invert-focus-left h-100">
    <div class="row h-100">
        <div class="invert-left column h-100 align-items-center">
            <h1 class="mt-4 mb-5">Sign In</h1>
            <div class="column w-100 sign-in-form-container">
                <form method="POST" action="/accounts/sign_in">
                    {% csrf_token %}
                    {{signInForm}}
                    <button class="btn mt-5">Sign In</button>
                </form>
            </div>
        </div>
        <div class="invert-right column h-100 align-items-center">
            <h4 class="mt-4">Don't have an account?</h4>
            <h1>Sign Up</h1>
            <div class="column w-100 sign-in-form-container">
                <form method="POST" action="/accounts/sign_up">
                    {% csrf_token %}
                    {{signUpForm}}
                    <button class="btn btn-light mt-5">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}